.bottom-navbar {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 100px;
    background: rgba(1, 27, 63, 0.973);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-top: 2px solid #B4FF00;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.nav-container {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.nav-item {
    flex: 1;
    text-align: center;
    background: none;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
}

.nav-item:hover {
    transform: scale(1.1);
}

.nav-icon {
    width: 32px;
    height: 32px;
    margin-bottom: 5px;
    display: block;
    margin: 0 auto 5px;
    z-index: 3;
}

.nav-label {
    font-family: "Chewy", system-ui;
    font-size: 12px;
}

.moving-border {
    position: absolute;
    top: -33px;
    width: 30px;
    height: 35px;
    background-color: rgb(1, 27, 63);
    border-radius: 50%;
    box-shadow: 0px -2px 0px #B4FF00;
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), width 0.5s ease-in-out;
    will-change: transform, width;
    z-index: 2;
}
  
  .nav-item.active {
    scale: 1.1;
  }
  
  .curve {
    position: absolute;
    top: 7px;
    left: 50%;
    width: 9px;
    height: 9px;
    background: #B4FF00;
    border-radius: 50%;
    transform: translateX(-50%);
  }
  