.bottom-navbar {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 70px;
    background: rgba(0, 38, 90, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-top: 2px solid #B4FF00;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-container {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.nav-item {
    flex: 1;
    text-align: center;
    background: none;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
}

.nav-item:hover {
    transform: scale(1.1);
}

.nav-icon {
    width: 32px;
    height: 32px;
    margin-bottom: 5px;
}

.nav-label {
    font-family: "Chewy", system-ui;
    font-size: 12px;
}

.moving-border {
    position: absolute;
    top: -12px;
    height: 5px;
    background: #82ff00;
    border-radius: 5px;
    box-shadow: 0px -2px 0px #A9E526;
    transition: all 0.3s ease-in-out;
}