.onboarding-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.onboarding-card {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  border-radius: 30px 30px 0 0;
  overflow: hidden;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  background-color: #0d214bcf;
  text-align: center;
  color: #fff;
}

.onboarding-couple {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -17%;
  scale: 1.1;
}

.onboarding-header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  font-size: 14px;
}

.onboarding-skip {
  background: #10295C;
  padding: 8px 14px;
  border-radius: 20px;
  border: none;
  font-size: 12px;
  cursor: pointer;
  width: 104px;
  height: 30px;
  font-weight: 400;
  border-radius: 50px;
  position: absolute;
  top: 4rem;
  right: 2rem;
  font-family: "Chewy", system-ui;
}

.onboarding-skip span {
  color: #fff;
}

.onboarding-image {
  width: 100%;
  height: 60%;
  object-fit: cover;
}

.onboarding-content {
  padding: 20px;
  text-align: center;
}

.onboarding-title {
  letter-spacing: 0%;
  font-size: 30px;
  line-height: 100%;
  font-weight: 500;
  text-transform: uppercase;
}

.onboarding-text {
  width: 343px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 110.00000000000001%;
  color: #FFFFFF;
  opacity: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
}

.onboarding-text span {
  font-size: 30px;
  font-weight: 800;
  color: #B4FF00;
  line-height: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.onboarding-button {
  margin-top: 15px;
  background: linear-gradient(to right, #715BF1, #B4FF00);
  padding: 12px;
  border-radius: 25px;
  color: #ffffff;
  font-weight: 800;
  font-size: 14px;
  cursor: pointer;
  display: block;
  width: 343px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  border: none;
}

.onboarding-dots {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 3rem;
}

.onboarding-dot {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(225, 225, 225, 0.441);
  transition: background 0.3s;
}

.onboarding-dot.active {
  background: #B4FF00;
}

.start_game_btn {
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
  width: 343px;
  height: 50px;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  background-color: #9dbeff1e;
  /* margin-left: 5%; */
  gap: 5rem;
  border-radius: 50px;
}

.gender-btn {
  flex: 1;
  text-align: center;
  align-items: center;
  padding: 12px 20px;
  border: none;
  background: transparent;
  color: white;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  z-index: 2;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.gender-selector {
  position: relative;
  display: flex;
  background-color: #10295C80;
  border-radius: 25px;
  padding: 5px;
  gap: 5px;
  overflow: hidden;
  height: 50px;
}

.gender-slider {
  position: absolute;
  width: 50%;
  height: 80%;
  background-color: #0b1d41;
  border-radius: 50px;
  transition: transform 0.3s ease-in-out;
}

.onboarding-start_btn {
  width: 343px;
  height: 50px;
  border-radius: 50px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #B4FF00;
  box-shadow: 0px 0px 10px #A9E526;
  border: none;
  font-size: 14px;
  font-weight: 800;
  color: #0c1e43;
}

.gender-image {
  margin-top: -10rem;
}

/* Main page */

.main-page {
  height: 100vh;
  background: url(./img/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
}

.main_gender {
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
  text-align: center;
  position: relative;
  top: 28%;
}

.inner_container {
  width: 370px;
  height: 100px;
  background: url("./img/Vector5.svg") no-repeat center / cover;
  position: absolute;
  top: 4rem;
  left: 50%;
  transform: translateX(-50%);
}

.inner_cont {
  display: flex;
}

.inner_btn {
  width: 134px;
  height: 34px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(to right, #715BF1, #B4FF00);
  position: relative;
  top: 8px;
  left: 10px;
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
}

.heart_container {
  display: flex;
  position: relative;
  top: 5px;
  left: 25px;
}

.heart_container img {
  width: 37px;
  position: relative;
  left: 3px;
}

.heart_rate {
  position: relative;
  top: 3px;
  margin-left: 5px;
  width: 13px;
  height: 23px;
  border-radius: 50px;
  background-color: #B4FF00;
}

.heart_rate-outline {
  position: relative;
  top: 3px;
  margin-left: 5px;
  width: 13px;
  height: 23px;
  border: 1px solid #B4FF00;
  border-radius: 50px;
  background-color: transparent;
}

.inner_bottom {
  display: flex;
  position: relative;
  top: 0.7rem;
  align-items: center;
}

.inner_bottom>img {
  position: relative;
  left: 5%;
}

.inner_bottom p {
  position: relative;
  left: 7%;
  font-size: 14px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}

.inner_number {
  gap: 10px;
  display: flex;
  position: relative;
  left: 25%;
  font-size: 18px;
  color: #ffffff;
  font-weight: 400;
}

.inner_number img {
  width: 27px;
  height: 24px;
}

.reward {
  display: flex;
  font-size: 24px;
  font-weight: 400;
}

.reward img {
  width: 50px;
  height: 28px;
  position: relative;
  left: 5%;
}

.reward_container {
  display: flex;
  justify-content: center;
  margin: auto;
  gap: 55%;
  position: relative;
  bottom: 5%;
}

.daily-reward {
  position: absolute;
  bottom: 17%;
  left: 50%;
  width: 343px;
  height: 79px;
  transform: translateX(-50%) scale(0.8);
  background: #10295ccc;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 14px;
  color: white;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  z-index: 50;
  box-shadow: 0px 0px 10px #A9E526;
}

.daily-reward p {
  position: relative;
  left: 5%;
  top: -5%;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
}

.daily-reward.show {
  opacity: 1;
  transform: translateX(-50%) scale(1);
}

.daily-reward button {
  position: relative;
  right: 3%;
  width: 79px;
  height: 34px;
  background: linear-gradient(to right, #715BF1, #B4FF00);
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin-top: -0.5rem;
  font-size: 12px;
  font-weight: 400;
}

/* BattlePage */

.battle_header {
  width: 350px;
  padding: 10px;
  height: auto;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  top: 4rem;
  border-radius: 14px;
  background-color: #10295C80;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

hr {
  width: 95%;
  opacity: 60%;
}

.user_top_data {
  display: flex;
  align-items: center;
  height: 50px;
}

.user_bottom_data {
  display: flex;
  align-items: center;
  gap: 5px;
}

.user_top_data img {
  width: 37px;
}

.timeleft {
  position: relative;
  left: 5%;
  margin-top: 35px;
  color: white;
  font-weight: 700;
  font-size: 18px;
}

.timeleft_text {
  font-weight: 100;
}

.timeleft img {
  width: 20px;
}

.bottom_data_ambulance {
  margin-left: 30%;
}

.bottom_name {
  font-size: 14px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: white;
}

.bottom_reward {
  font-size: 18px;
  font-weight: 700;
  color: white;
}

.battle_card {
  width: 370px;
  height: 60%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  top: 25%;
  border-radius: 14px;
  background-color: #10295C80;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.battle_card_top-data {
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 12px;
  font-weight: 400;
  color: white;
}

.batlle_gamers {
  position: relative;
  left: 65%;
}

.battle_card_bottom-data {
  display: flex;
  align-items: center;
  margin-top: -5%;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}

.batlle_data {
  display: flex;
  align-items: center;
  margin-top: -3%;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
}

.battle_data_title {
  font-size: 14px;
  font-weight: 400;
}

.battle_data-star {
  margin-left: 35%;
}

.battle_data-btn {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 90%;
  height: 44px;
  text-align: center;
  align-items: center;
  border-radius: 50px;
  background: linear-gradient(to right, #715BF1, #B4FF00);
  border: none;
  font-size: 14px;
  font-weight: 700;
  color: #FFFFFF;
}

.battle_img {
  display: flex;
  justify-content: center;
  margin: auto;
  position: absolute;
  bottom: 0;
  width: 370px;
}


.loading {
  background-color: #ffcc00;
  color: white;
  font-size: 16px;
  font-weight: 700;
  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
    opacity: 0.6;
  }
}

.battle_opponent {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
  position: relative;
}

.green-btn {
  position: relative;
  top: 3%;
  font-weight: 700;
}

.battle_vs {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  animation: fadeIn 0.5s;
}

.close-btn_battle {
  margin-top: 10px;
  background: #B4FF00;
  color: white;
  padding: 10px;
  border: none;
  width: 70px;
  height: 44px;
  border-radius: 50px;
  box-shadow: 0px 0px 10px #A9E526;
}

.fade-in {
  animation: fadeIn 1s;
  width: 50px;
}

/* RatingPage */

.heart-container {
  display: flex;
}

.rating_heart {
  margin-left: 3rem;
  width: 35px;
}

.player-stats {
  display: flex;
  align-items: center;
  margin-top: -1.5rem;
}

.player-stats p {
  margin-left: 2%;
  font-size: 18px;
  color: white;
  font-weight: 400;
}

.rating_container {
  width: 90%;
  height: 170px;
  padding: 10px;
  background-color: #10295C80;
  border-radius: 14px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 4rem;
  left: 50%;
  transform: translateX(-50%);
}

.rating_header {
  display: flex;
  align-items: center;
}

.rating_avatar {
  margin-left: 1%;
}

.player-name {
  margin-left: 1%;
  font-size: 14px;
  font-weight: 700;
  color: white;
}

.star_icon {
  margin-left: 60%;
}

.rating_footer-title {
  display: flex;
  align-items: center;
  margin-left: 2%;
  gap: 10.5rem;
  margin-top: -1.5rem;
  font-size: 14px;
  font-weight: 400;
  color: white;
}

.rating_footer_paragraph {
  display: flex;
  align-items: center;
  position: relative;
  top: -1rem;
  font-size: 18px;
  font-weight: 700;
  color: white;
}

.rating_footer_paragraph p {
  position: relative;
  left: 2%;
}

.rating_footer_paragraph img {
  margin-left: 70%;
  margin-right: 2%;
}

.rating_ambulance {
  margin-left: 2%;
}

.rating-gap {
  width: 95%;
  margin-top: -1rem;
  opacity: 60%;
}

.rating_list {
  position: absolute;
  top: 30%;
  width: 90%;
  max-height: 550px;
  overflow-y: auto;
  padding-right: 5px;
  left: 50%;
  transform: translateX(-50%);
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.rating_list::-webkit-scrollbar {
  display: none;
}

.rating_list::-webkit-scrollbar {
  width: 8px;
}

.rating_card {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: green;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 8px;
  transition: transform 0.3s ease-in-out;
}

.rating_card:hover {
  transform: scale(1.05);
}

.player-stars {
  font-size: 18px;
  color: white;
  font-weight: 400;
}

.rankig-number {
  font-size: 18px;
  color: white;
  font-weight: 400;
}

/* Wallet */

.wallet_header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 90%;
  height: 108px;
  border-radius: 14px;
  padding: 10px;
  background-color: #10295C80;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 4rem;
}

.wallet_header-status {
  display: flex;
  align-items: center;
}

.wallet-star {
  margin-left: 45%;
  margin-right: 2%;
}

.wallet_star_rate {
  color: white;
  font-size: 18px;
  font-weight: 400;
}

.send_request {
  width: 95%;
  height: 44px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 50px;
  background: linear-gradient(to right, #715BF1, #B4FF00);
  border: none;
  color: white;
  display: flex;
  justify-content: center;
  margin: auto;
  text-align: center;
  align-items: center;
}

.transactions_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 25%;
  width: 95%;
  left: 50%;
  transform: translateX(-50%);
  max-height: 65vh;
  overflow-y: auto;
  padding-right: 5px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.transaction_card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  border-radius: 10px;
  background-color: #14213D;
}

.transactions_list::-webkit-scrollbar {
  display: none;
}

.transaction_info {
  display: flex;
  flex-direction: column;
}

.transaction_type {
  font-size: 16px;
  font-weight: bold;
}

.transaction_date {
  font-size: 14px;
  opacity: 0.8;
}

.transaction_amount {
  display: flex;
  align-items: center;
  gap: 6px;
}

.transaction_value {
  font-size: 18px;
  font-weight: bold;
}

.transaction_star {
  width: 18px;
  height: 18px;
}

.modal_backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  z-index: 10;
}

.modal_container {
  position: fixed;
  bottom: 0;
  left: 0;
  transform: translateX(-50%);
  width: 90%;
  max-width: 400px;
  background: #10295C;
  padding: 20px;
  border-radius: 20px 20px 0 0;
  z-index: 20;
  text-align: center;
  color: white;
}

.wallet-request-title {
  color: white;
  font-size: 24px;
  font-weight: 500;
}

.balance {
  color: white;
  font-size: 14px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

.balance img {
  position: relative;
  top: 0.5rem;
}

.balance_star {
  font-size: 18px;
  font-weight: 400;
}

.request_input {
  display: flex;
  justify-content: center;
  margin: auto;
  gap: 0.5rem;
}

.top {
  width: 168px;
  height: 44px;
  border: 1px solid #B4FF00;
  background-color: transparent;
  border-radius: 50px;
  color: white;
  font-size: 14px;
  font-weight: 400;
  outline: none;
}

.wallet_location {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 345px;
  position: relative;
  top: 1rem;
  height: 44px;
  border-radius: 50px;
  border: 1px solid #B4FF00;
  background-color: transparent;
  color: white;
  font-size: 14px;
  font-weight: 400;
  outline: none;
}

.modal_button {
  width: 345px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 44px;
  border-radius: 50px;
  border: none;
  background: linear-gradient(to right, #715BF1, #B4FF00);
  position: relative;
  top: 1rem;
  color: white;
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 3rem;
}



/* Modal overlay blur effect */
.main-page.blur {
  filter: blur(5px);
  pointer-events: none;
}

/* Modal container */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: flex-end;
  /* Pastdan chiqish */
  justify-content: center;
  z-index: 1000;
}

/* Modal content */
.modal-content {
  background: #122357;
  width: 100%;
  max-width: 400px;
  border-radius: 20px 20px 0 0;
  padding: 20px;
  color: white;
  text-align: center;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.3);
}

/* Close button */
.close-btn {
  background: #ff4c4c;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

/* Plus-minus buttons */
.quantity-control {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 1rem;
}

.quantity-control button {
  background: #B4FF00;
  border: none;
  width: 100px;
  height: 44px;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 50px;
}

.quantity-control input {
  width: 50px;
  text-align: center;
  font-size: 18px;
  border: none;
  background: transparent;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.buy_title {
  display: flex;
  justify-content: center;
  margin: auto;
  gap: 2rem;
  font-family: "Montserrat", sans-serif;
}

.buy_sub {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-family: "Coiny", system-ui;
}

.buy-title {
  font-family: "Coiny", system-ui;
}

.buy-btn {
  width: 90%;
  height: 44px;
  border-radius: 50px;
  background-color: transparent;
  border: none;
  background: linear-gradient(to right, #715BF1, #B4FF00);
  color: white;
  font-size: 15px;
  font-weight: 700;
  font-family: "Coiny", system-ui !important;
}

.buy-img_star {
  margin-left: -2rem;
  margin-right: 1%;
  width: 25px;
}

.buy_value {
  font-size: 20px;
}

.buy-img {
  margin-left: 20%;
  margin-right: 1%;
  width: 30px;
}